// padding section

.p-10 {
    padding: 0.625rem !important; // 10px
}

.pl-10 {
    padding-left: 0.625rem !important; // 10px
}

.pt-12 {
    padding-top: 0.75rem !important; // 12px
}

.pt-14 {
    padding-top: 0.875rem !important; // 14px
}

.pb-14 {
    padding-bottom: 0.875rem !important; // 14px
}

.py-13 {
    padding-top: 0.813rem !important; // 13px
    padding-bottom: 0.813rem !important; // 13px
}

.py-14 {
    padding-top: 0.875rem !important; // 14px
    padding-bottom: 0.875rem !important; // 14px
}

.pt-15 {
    padding-top: 0.938rem !important; // 15px 
}

.px-15 {
    padding-left: 0.938rem !important; // 15px
    padding-right: 0.938rem !important; // 15px
}

.pb-17 {
    padding-bottom: 1.063rem !important; // 17px
}

.pt-20 {
    padding-top: 1.25rem !important; // 20px
}

.p-20 {
    padding: 1.25rem !important; // 20px
}

.ps-20 {
    padding-left: 1.25rem !important; // 20px
}

.px-20 {
    padding-left: 1.25rem !important; // 20px
    padding-right: 1.25rem !important; // 20px
}

.px-22 {
    padding-left: 1.375rem !important; // 22px
    padding-right: 1.375rem !important; // 22px
}

.px-24 {
    padding-left: 1.5rem !important; // 24px
    padding-right: 1.5rem !important; // 24px
}

.px-80 {
    padding-left: 5rem !important; // 80px
    padding-right: 5rem !important; // 80px
}

.pb-30 {
    padding-bottom: 1.875rem !important; // 30px
}

.py-32 {
    padding-top: 2rem !important; // 32px
    padding-bottom: 2rem !important;
}

.px-34 {
    padding-left: 2.125rem !important; // 34px => 2.125rem
    padding-right: 2.125rem !important; // 34px => 2.125rem
}
.pb-36 {
    padding-bottom: 2.25rem !important; // 36px
}
.px-40 {
    padding-left: 2.5rem !important; // 40px
    padding-right: 2.5rem !important; // 40px
}

.pt-46 {
    padding-top: 2.875rem; // 46px
}

.pb-50 {
    padding-bottom: 3.125rem !important; // 50px
}

.py-50 {
    padding-top: 3.125rem !important; // 50px
    padding-bottom: 3.125rem !important; // 50px
}

.pb-60 {
    padding-bottom: 3.75rem !important; // 60px
}

.pb-62 {
    padding-bottom: 3.875rem !important; // 62px
}

.pb-64 {
    padding-bottom: 4rem !important; // 64px
}

.pb-83 {
    padding-bottom: 5.188rem !important; // 83px
}

.pl-120 {
    padding-left: 7.5rem !important; // 120px
}

.pt-124 {
    padding-top: 7.75rem !important; //124px
}

.pt-120 {
    padding-top: 7.5rem !important; // 120px
}

.pb-220 {
    padding-bottom: 13.75rem !important; // 220px
}